.search-field:focus {
  border-color: red !important;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #e42534 !important;
  outline: 0 none !important;
}

::placeholder {
  font-weight: bold;
}

.search-btn {
  background-color: white !important;
  border-color: #e42534 !important;
  color: black !important;
}
.search-btn:hover {
  background-color: #e42534 !important;
  color: white !important;
}

.nav-link:hover {
  background-color: #e42534;
  opacity: 90%;
  color: white !important;
}

.red-black {
  color: #e42534;
}
.links {
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
  text-decoration-color: #e42534;
}

.logo:hover .black-red {
  color: #e42534;
  transition-duration: 500ms;
}
.logo:hover .red-black {
  color: black;
  transition-duration: 500ms;
}
/* .logo-img:hover {
  animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
} */
